# **Theoritical Question**

## **1. What are data structures, and why are they important?**

**Data Structure:**

- Data Structures are formats in which data can be stored and organized to be able to access and manipulate it in the time of use.

**Importance of Data Structure:**
- Allow us to manage and manipulate data efficiently.
- Faster Operation on vast data.
- Help in solving complex problems easily.
- Oraganizes data for easy access.
- Helps in efiicient memory management.
- provides optimal performance on dynamic data types.
-  Provides Optimization according to data type.

## **2. Explain the difference between mutable and immutable data types with examples.**

**Mutable Data:**
- Values of which can be changed or modified after they are assigned are known as mutable data types.
- Elements/Prperties can be modified, removed, changed, added of an object with out changing or creating a new object in the memory.
- e.g:- Lists, Dictonaries, Sets.
- Use case- Where data modification takes place frequently, mutable data types are preffered.

In [ ]:
# List as Mutable Data Type:
l1=[1,2,3,4]
l1[0]=10
print(l1)

[10, 2, 3, 4]

In [ ]:
# Dictonary as Mutable Data Type:
d1={'a':1,'b':2,'c':3}
d1['a']=10
print(d1)

{'a': 10, 'b': 2, 'c': 3}

In [ ]:
# Sets as Mutable Data Type:
s1={1,2,3,4}
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

**Immutable Data:**
- Whose values can not be changed after they are created are known as immutable data type.
- Error will be occured if modification is tried.
- Only by creating a new variable, updation in the value can be done.
- e.g:- strings, tuples, frozensets.
- Use case- where data must remain constant, immutable data types are used.

In [ ]:
# Strings as Immutable Data Type:
s1="Navi"
s1[0]="K"
print(s1)
# Will show error as string does not support item assignment.

TypeError: 'str' object does not support item assignment

In [ ]:
# Tuples as Immutable Data Type:
t1=(1,2,3,4)
t1[0]=10
print(t1)
# Will show error as tuple does not support item assignment.

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Frozen Set as Immutable Data Type:
f1=frozenset([1,2,3,4])
f1[0]=10
print(f1)
# Will show error as frozenset does not support item assignment.

TypeError: 'frozenset' object does not support item assignment

## **3.** **What are the main differences between lists and tuples in Python?**

- Lists and Tuples differs in their mutability, performance, memory usage and their intended use case.

 **1. Mutability:**

  **Lists:**
  - Lists can be changed like elements can be added, removed or modified after they are assigned.
  - Alteration in object take place with out creating a new object.


```
# my_list=[1,2,3]
my_list[0]=10 >> modify an element
my_list.append(40) >> addition of an element
my_list.remove(2) >> remove an element
print(my_list) >> output:[10,3,40]

```

   **Tuples:**
   - Tuples do no allow item assignment after they are created.
   - The elements inside a tuple are fixed.
   - Error will show at any operation that tries to "modify" it or a new tuple will be created.


```
# my_tuple=(1,2,3)
my_tuple[0]=10 >> Type Error
my_tuple.append(40) >> Attribute Error

```
**Note:** Though Tuples are immutable data type, if it contains any mutable objects, they can be mutable.

**2. Intended Use Case:**

**Lists:**
  - In case of scenarios where the elements ted to change frequently, Lists are used.
  - Ideal for storing when the data might grow or shrink over the time period.

**Tuples:**
- Where the elements or objects are fixed, heterogenous and united(as a single unit of data),Tuples are preffered.
- Use Case- repesenting records, co-ordinates etc.

**3. Performance and Memory:**

**Lists:**
- As they are mutable; generally have higher memory footprint to perform all those modification and iteration.

**Tuples:**
- Slightly Lower memory footprintdue to its immutability.
- Can be little faster in case of iterating and accessing the objects in case of very large data set.

**3. Hashability:**

 **Lists:**
 - Due to its mutability nature, they can not be used as Keys in dictonaries.

**Tuples:**
- It can be used as keys in dictonaries as they are immutable.

**4. Syntax:**

**Lists:**
- Defined using square brackets[].

**Tuples:**
- Defied using paranthesis().

**5. Functions:**

**Lists:**
- opend(), insert(), remove(), sort() etc

**Tuples:**
- count(), index()

## **4. Describe how dictionaries store data?**

- Dictonaries in python stores data in Key-Value Pairs.
- While a value can be of any data type and mutable, keys must be unique and immutable.
- Dictonaries are case sensitive i.e. same name but in different cases are considered as different keys.
- The key in dictonaries are saved as unique hash values or code.
- Value from a dictonaries can be accessed by get() function.
- New Key-Value pairs can be added to a dictanaries.
- Items can be removed from a dictonary by the help of del, pop(), clear() functions.
- Nested Dictonary:  A dictonary can be saved inside a dictonary as a 'value'.
- A copy of dictonary can be done by 2 methods: Shallow Copy and Deep Copy.
  - **Shallow Copy:** Creates a new dictonary with  copies of same key-value pair. Any changes in the main dictonary will result changes in the new one also.
    - Syntax: copy.copy()
  - **Deep Copy:**  Creates a new dictonary with separate copies of all data.Even if the main dictonary is modified, the second one will not be modified.
    - Syntax: copy.deepcopy()

## **5.Why might you use a set instead of a list in Python?**

- Lists are ordered collecetion of elements which can contain duplicate items also. These are defined with square brackets[].
- Sets are unordered collection of unique elements which are defined with{] braces.
- In Python, both List and Sets are used to store databases of different kinds.
- Databases whose elements need to be unique, sets are preffered in those scenarios.
- Where indexing of elements are not needed and their order in the database is not necessary sets are used.
- For Mathematical set operations, sets have build in menthods to perform operations like union, intersection, difference and symmetrical difference.

## **6. What is a string in Python, and how is it different from a list?**

- In Python, String is a sequence of characters enclosed either in single(''), double("") or triple quotes(''' ''')(""" """).
- Strings differ from list in their mutability factor. Strings are Immutable whereas the Lists are Mutable objects.
- While Strings are sequence of Characters/Alphabets, Lists are sequence of elements meaning they can hold any type of data.
- In short, Strings hold homogenous data while lists heterogenous data.
- Strings are used to represent textual data while lists can contain integers, float, boolean strings, other lists as well.
- Strings:Fixed size in memory after they are created; Lists: dynamic size in memory.
- String supported functions: upper(), lower(), split(), replace(), find(), strip() etc.
- List Supported functions: append(), insert(), pop(), remove(), sort()
- Strings are stored inside paranthesis(); Lists are stored inside square brackets[].

## **7. How do tuples ensure data integrity in Python?**

- Data Integrity: Ensuring data accuracy, consistancy and remains unaltered through out.
- Tuples ensures data integrity primaryly through its fundamental property i.e., Immutability.
- Which implies that once a data is stored inside a tuple, it cann't be changed, added, removed in its memory location.
- Once a tuple is defined, its elements and their order will remain same through out.
- Use Case- While storing co-ordinates, database records
- To make any modification to a tuple, a new tuple must be created otherwise it won't be changed.
- It prevents accidental alteration of data.
- Thus ensuring data consistency.

## **8. What is a hash table, and how does it relate to dictionaries in Python?**

- **Hash Table:** A Type of Data Structure that stores data in Key-Value Pair format. It uses a "Hash Function" to compute an index(hash) from the key, which indicates its location in the memory.
- Helps to access data quickly.
- **Process:**
  - A Key is passed into a hash function.
  - A hash function returns an index.
  - The Value is stored in that index.
  - To retrive the calue later, the same key is hashed again, directing to its index.
- In Python, Dictonaries are implimented using hash tables. Thus allowing for fast look ups, insertions and deletions.
- Relation to Dictonaries in Python:
  - Python dictonaries stores data in key-value pair: fundamental concept of hash table.
  - Since keys are passed through a hash function to determine their storage location, they must be hashable i.e., they must be immutable as their value will never change after their creation to return same value every time for the same object.

## **9. Can lists contain different data types in Python?**

- Yes, Lists can contain different data types in Python.
- A single list in python can contain strings, integeres, float, boolean, complex nos values at once.
-Python lists are dynamic and can contain heterogenous data in a single list altogether.

In [ ]:
my_list=["Navi",25,78.3,True,2+3j]
print(my_list)

['Navi', 25, 78.3, True, (2+3j)]

## **10. Explain why strings are immutable in Python?**

- After a string object is created, it cann't be changed. They are designed likewise to ensure data consistency and consistancy.
- Any trial to make any changes or modification in a string object like Concatenation or replacement results in creation of a new string in the memory. The original string remains unchanged in the memory.
- In short, Immutability of strings in Python is a intended design choice that leads to significant performance enhancement, memory efficiency and easy accessibility of data.

## **11.What advantages do dictionaries offer over lists for certain tasks?**

- Dictonaries offers certain advantages over lists mostly focousing on data accessing and organizing.
- Dictonaries store data as key-value pairs, allowing for direct and very fast retrieval of values through their keys.
- Keys provides a descriptive label for its values, making it more readable, representating their realtionship.
- Diconaries are flexible data structure where the order of storing the data is not much important, but quick access to specific items by its uniquw identifier or key.
- In order to maintain consistent structure, dictonaries can effectively store current attributes in data with limited properties, eleminating the need for complicated indexing or placeholder values.
- Dictonaries are great for representing relationaships or mapings between pieces of data. Keys gives a brief description about its values. While lists are better suited for ordered collection where the position of the element is important.

## **12. Describe a scenario where using a tuple would be preferable over a list.**

- In case of scenarios where the data needs to be fixed, unchanged throughout the program's execution, Tuples are preffered over a list.
- Immutability nature of tuples plays a advantageous role in ensuring data integrity and predictibility.
- **Scenario:** **Identification of Species and its Taxonomic Hirarchy:**
  - Identification of Organisms based on their fixed taxonomic classification (e.g., Kingdom, Phylum, Class, Order, Family, Genus, Species). These Classifications are fundamental and fixed for a specific species.
    - **Why Tuples are more preferrable over a list here?**
      - **Fixed Identity:** A taxonomic path(Kingdom, Phylum, Class,....) defines a specific organism. If any part of it changes, the defining characteristics of that organism also changes. Thus choosing a tuple enforces the rigidity.
      - **Immutability:** These database in the form of tuple can be used as keys in a dictonary (e.g., maping a species to its habitat or its conservation status) their immutability makes them hashable and therefore valid dictonary keys, providing efficient lookup.
      - **Clarity of Purpose:** Tuples ensures the sequence of elements fixed, uniterable.

In [ ]:
# Example:
# Defining taxonomic paths of different species:
species_mango=("Kingdom:", "Plantae", "Division:", "Magnoliophyta", "Class:", "Magnoliopsida", "Order:" ,"Sapindales", "Family:" ,"Anacardiaceae", "Genus:", "Mangifera", "Species:" ,"indica.")
species_lion=("Kingdom:", "Animalia", "Division:", "Carnivora", "Class:", "Feliformia", "Order:" ,"Carnivora", "Family:" ,"Felidae", "Genus:", "Panthera", "Species:" ,"leo.")
print(f"Species Mango: {species_mango}")
print(f"Species Lion: {species_lion}")

# Using the Taxonomic tuple as a dictonary key to store conservation status:
conservation_status={species_mango: "Least Concern", species_lion: "Endangered"}
print(conservation_status)

print(f"Conseravtion Status of Mango: {conservation_status[species_mango]}")
print(f"Conseravtion Status of Lion: {conservation_status[species_lion]}")


# Trying to change a part of classification would be an error.

Species Mango: ('Kingdom:', 'Plantae', 'Division:', 'Magnoliophyta', 'Class:', 'Magnoliopsida', 'Order:', 'Sapindales', 'Family:', 'Anacardiaceae', 'Genus:', 'Mangifera', 'Species:', 'indica.')
Species Lion: ('Kingdom:', 'Animalia', 'Division:', 'Carnivora', 'Class:', 'Feliformia', 'Order:', 'Carnivora', 'Family:', 'Felidae', 'Genus:', 'Panthera', 'Species:', 'leo.')
{('Kingdom:', 'Plantae', 'Division:', 'Magnoliophyta', 'Class:', 'Magnoliopsida', 'Order:', 'Sapindales', 'Family:', 'Anacardiaceae', 'Genus:', 'Mangifera', 'Species:', 'indica.'): 'Least Concern', ('Kingdom:', 'Animalia', 'Division:', 'Carnivora', 'Class:', 'Feliformia', 'Order:', 'Carnivora', 'Family:', 'Felidae', 'Genus:', 'Panthera', 'Species:', 'leo.'): 'Endangered'}
Conseravtion Status of Mango: Least Concern
Conseravtion Status of Lion: Endangered

## **13. How do sets handle duplicate values in Python?**

- Lists in Python are designed to remove duplicate values by default.
- Sets in python are defined as the unordered collection of unique elements.

In [ ]:
# While Creating a SET:
# If a set contain iterable elements like list, tuple, stings containing duplicate elements,
# While creating it, they will be automatically dismissed by the interpretor
# Keeping only one element of every duplicate values.

list_cons_dupes=[1,2,3,4,5,5,6,2,7,6,1]
my_set=set(list_cons_dupes)
print(my_set)


my_str="Navaneeta"
unique_str=set(my_str)
print(unique_str)

{1, 2, 3, 4, 5, 6, 7}
{'e', 't', 'a', 'v', 'n', 'N'}

In [ ]:
# After the SET is Created:
# If a value which already exists in the set is added,
# It won't be executed but simply be ignored.
# The Set content will not change and its size will remain same

my_set={1,2,3,4,5,6}
my_set.add(2)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

## **14. How does the “in” keyword work differently for lists and dictionaries?**

- "In" keyword in Python checks **Membership Testing** of an element i.e., if that element exists or not.
- But its behaviour in displaying the outputs differs in lists and dictonaries.

In [ ]:
  # 1.List: within a python list, "in" checks if a value is present in the list or not.
my_subject=["Physics","Chemistry","Biology"]
print("Physics" in my_subject)
print("Maths" in my_subject)

True
False

In [ ]:
# 2. Dictonaries: when used in dictonaries, "in" checks if a key exists or not only
# not applicable for values.

details={"Name: ": "Navi", "Age: " :"25"}
print("Name: " in details)
print("Navi" in details)

True
False

## **15. Can you modify the elements of a tuple? Explain why or why not?**

- No, the elements of a tuple can not be modified once they are created due to its immutable nature.
- Tuples are designed fundamentally as immutable in python to maintain the data integriety.
- Once a tuple is created, its elements can not be changed, added or removed.
- Any modification such as concatenation or slicing of a tuple actually results in the creation of a new tuple in the memory.

## **16. What is a nested dictionary, and give an example of its use case?**

- In Nested Dictonaries, the values are themselves dictonaries allowing to create a multi hirerchical data.
- All or some of the values of the keys may be store as mini dictonary.

In [ ]:
#Air Quality Data
air_quality_data={
    "Kolkata- ":{
        "PM2.5: ": 180,
        "PM10: ": 220,
        "NO2: ": 88,
    },
    "Odisha- ":{
        "PM2.5: ": 150,
        "PM10: ": 200,
        "NO2: ": 70,
    }
}
print(air_quality_data)
print(air_quality_data["Odisha- "]["PM2.5: "])

{'Kolkata- ': {'PM2.5: ': 180, 'PM10: ': 220, 'NO2: ': 88}, 'Odisha- ': {'PM2.5: ': 150, 'PM10: ': 200, 'NO2: ': 70}}
150

## **17. Describe the time complexity of accessing elements in a dictionary?**

**Time Complexity of Accessing Elements:** how much time is required to access or perform an operation scales with the size of the data structure.
- In Python, dictonaries are implemented as hash tables, which allows for very fast access to elements by key.
- Accessing a value by key in a dictonary is very efficient.

## **18. In what situations are lists preferred over dictionaries?**

- While Dictonaries are excellent at key-value maping and fast lookups, lists are preffered when the order of the elements matter, and their access by their indexes or the duplication of values are needed.

In [ ]:
# When the Order of Elements are Crucial:
## A swquence of events in cronological order(World War II)
world_war_ii_events = []
world_war_ii_events.append({
    "name": "Invasion of Poland",
    "year": 1939
})
world_war_ii_events.append({
    "name": "Battle of Britain",
    "year": 1940
})
world_war_ii_events.append({
    "name": "D-Day landing",
    "year": 1944
})

# Print World War II events
print("--- World War II Events ---")
for event in world_war_ii_events:
    print(f"{event['name']} ({event['year']})")

--- World War II Events ---
Invasion of Poland (1939)
Battle of Britain (1940)
D-Day landing (1944)

In [ ]:
# Indian History Events:
indian_history_events = []
#BC dates as -ve:
indian_history_events.append({
    "name": "Indus Valley Civilization",
    "year": -2550,  # Represents 2550 BC
    "end_year": -1750 # Represents 1750 BC
})
indian_history_events.append({
    "name": "Birth of Gautama Buddha",
    "year": -563  # Represents 563 BC
})
indian_history_events.append({
    "name": "Establishment of the Maurya Empire",
    "year": -322  # Represents 322 BC
})
indian_history_events.append({
    "name": "First Battle of Panipat and establishment of the Mughal Empire",
    "year": 1526
})
indian_history_events.append({
    "name": "Founding of the Indian National Congress",
    "year": 1885
})

print("\n--- Indian History Events ---")
for event in indian_history_events:
    if event['year'] < 0:
        # Display BC dates appropriately
        if "end_year" in event:
            print(f"{event['name']} ({abs(event['year'])} BC - {abs(event['end_year'])} BC)")
        else:
            print(f"{event['name']} ({abs(event['year'])} BC)")
    else:
        print(f"{event['name']} ({event['year']})")

--- Indian History Events ---
Indus Valley Civilization (2550 BC - 1750 BC)
Birth of Gautama Buddha (563 BC)
Establishment of the Maurya Empire (322 BC)
First Battle of Panipat and establishment of the Mughal Empire (1526)
Founding of the Indian National Congress (1885)

## **19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

- Prior to Python3.7; dictonaries were considered as uordered as the order in which elements were stored and retrieved was not gurenteed.
- Their implimentation using hash tables meant that the order of elements did not ensure to be the same as the insertation order.
- The position of an element was associated through hash values of its keys, not its sequence of insertion.
- However, Python 3.7 aftrewards, dictonaries do preserve the insertion order along with association with the hash values of their keys unchanged for easy lookups.

**How it Affects Data Retrival:**
- Even though modern python dictonaries preserves insertion order, they still are considered as "unordered" in broader sense as they still can not be accessed by integer indexing like lists.
- A dictonary in Python can not be slicedto retrive a sub-set of elements as it does not have first-order or second-order elements in position.

## **20. Explain the difference between a list and a dictionary in terms of data retrieval.**

The main difference between lists and dictonaries in terms of data retrival lies on how the elements are accessed.

**Lists:**
- Data in Lists are retrieved by its index(either +ve index or -Ve Index). **Positive Indexing** Starts with 0 accessing the elements from left to right. **Negative Indexing** continues with its first index as '-1' starting from right to left.

**Dictonaries:**
- Data in dictonaries are retrieved by its keys. Keys have their unique hash value stored in the memory associated with each value.

In [ ]:
# Data Retrival in Lists:
  ## Access by Index:
my_shopping_list = ['milk', 'bread', 'eggs', 'cheese']
print(my_shopping_list[0])
print(my_shopping_list[2])

  ## Searching by Value:
print('bread' in my_shopping_list)
print('butter' in my_shopping_list)

milk
eggs
True
False

In [ ]:
# Data Retrival in Dictonaries:
  ## Access by Key:
user_profile = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(user_profile['name'])
print(user_profile['age'])

  ## Searching for a Key:
user_profile = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print('city' in user_profile)
print('gender' in user_profile)

  ## Searching for a value
print('Alice' in user_profile.values())
print('New York' in user_profile.values())

Alice
30
True
False
True
True

# **PRACTICAL QUESTIONS**

## **1. Write a code to create a string with your name and print it.**

In [ ]:
name="Navaneeta Mishra"
print("Name: ",name)

Name:  Navaneeta Mishra

## **2. Write a code to find the length of the string "Hello World".**

In [ ]:
str_1="Hello World"
print(len(str_1))

11

## **3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
str_2="Python Programming"
str_2[0:3]

'Pyt'

## **4. Write a code to convert the string "hello" to uppercase."**

In [ ]:
str_3="hello"
str_3.upper()

'HELLO'

## **5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
str_4="I like apple"
new_str=str_4.replace("apple","orange")
print(new_str)

I like orange

## **6. Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
list_1=[1,2,3,4,5]
print(list_1)

[1, 2, 3, 4, 5]

## **7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
list_2=[1,2,3,4]
list_2.append(10)
print(list_2)

[1, 2, 3, 4, 10]

## **8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
list_3=[1,2,3,4,5]
list_3.remove(3)
print(list_3)

[1, 2, 4, 5]

## **9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [ ]:
list_4=['a', 'b', 'c', 'd']
print(list_4[1])

b

## **10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
list_5=[10,20,30,40,50]
list_5.reverse()
print(list_5)

[50, 40, 30, 20, 10]

## **11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
tuple_1=(100,200,300)
print(tuple_1)

(100, 200, 300)

## **12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
tuple_2=('red', 'green', 'blue', 'yellow')
print(tuple_2[-2])

blue

## **13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
tuple_3=(10,20,5,15)
print(min(tuple_3))

5

## **14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
tuple_4=('dog', 'cat', 'rabbit')
print(tuple_4.index("cat"))

1

## **15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
tuple_5=("apple", "banana", "mango")
if "kiwi" in tuple_5:
  print("Kiwi is in the tuple")
else:
  print("Kiwi is not in the tuple")

Kiwi is not in the tuple

## **16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
set_1={'a', 'b', 'c'}
print(set_1)

{'a', 'c', 'b'}

## **17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
set_2={1,2,3,4,5}
set_2.clear()
print(set_2)

set()

## **18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
set_3={1,2,3,4}
set_3.remove(4)
print(set_3)

{1, 2, 3}

## **19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
set_4={1,2,3}
set_5={3,4,5}
print(set_4.union(set_5))

{1, 2, 3, 4, 5}

## **20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
set_6={1,2,3}
set_7={2,3,4}
print(set_6.intersection(set_7))

{2, 3}

## **21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
dictn_1={"name": "Navi", "age": 25, "city": "Bhubaneswar"}
print(dictn_1)

{'name': 'Navi', 'age': 25, 'city': 'Bhubaneswar'}

## **22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
dictn_2={'name': 'John', 'age': 25}
print(dictn_2)
dictn_2["country"]="USA"
print(dictn_2)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

## **23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
dictn_3={'name': 'Alice', 'age': 30}
print(dictn_3["name"])

Alice

## **24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
dictn_4={'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dictn_4)
dictn_4.pop("age")
print(dictn_4)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

## **25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
dictn_5={'name': 'Alice', 'city': 'Paris'}
if "city" in dictn_5:
  print("City is in the dictionary")
else:
  print("City is not in the dictionary")

City is in the dictionary

## **26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
my_list=["Navi","Kavi","Savi"]
my_tuple=("Navi","Kavi","Savi")
my_dictn={"Name": "Navi", "Age": 25}
print(my_list)
print(my_tuple)
print(my_dictn)

['Navi', 'Kavi', 'Savi']
('Navi', 'Kavi', 'Savi')
{'Name': 'Navi', 'Age': 25}

## **27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the**
result.(replaced)

In [ ]:
import random
random_list=[]
for i in range(5):
  random_list.append(random.randint(1,100))
random_list.sort()
print(random_list)

[17, 43, 73, 77, 92]

## **28. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
str_list=["Air","Water","Land","Fire","Sun"]
print("Print Element at Index 3: ",str_list[3])

Print Element at Index 3:  Fire

## **29. Write a code to combine two dictionaries into one and print the result.**

In [ ]:
com_dictn_1={"Name": "Navi", "Age": 25}
com_dictn_2={"City": "Bhubaneswar", "Country": "India"}
combined_dictn={**com_dictn_1, **com_dictn_2}
print(combined_dictn)

{'Name': 'Navi', 'Age': 25, 'City': 'Bhubaneswar', 'Country': 'India'}

## **30. Write a code to convert a list of strings into a set.**

In [ ]:
list_str=["Navi","BBSR","India"]
set_str=set(list_str)
print(set_str)

{'Navi', 'India', 'BBSR'}